.mySwiper2 {
  height: 450px;
  width: 100%;
}

.mySwiper {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 100px;
  height: 100px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.product-images {
  height: 90px;
  width: 100px;
}
.product-images:hover {
  border: 5px solid red;
  height: 90px;
}
